@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(36, 36, 46);

  --dark-red: rgb(88, 47, 77);
  --light-orange: rgb(247, 211, 162);
  --light-pink: #f19fa7;
  --green: rgb(125, 224, 174);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .greeting-text {
    color: var(--light-pink);
  }
}

.color-red {
  color: var(--dark-red);
}

.color-green {
  color: var(--green)
}

.color-orange {
  color: var(--light-orange)
}

.color-pink {
  color: var(--light-pink)
}

.js-skill, .fw-skill, .db-skill, .soft-skill, .mk-skill, .prog-skill, .unkwn-skill {
  padding: 0.3rem 1rem;
}

.js-skill {
  background-color: var(--light-orange);
}

.fw-skill {
  background-color: #7dc7e0;
}

.db-skill {
  background-color: var(--light-pink);
}

.soft-skill {
  background-color: #e07db3;
}

.mk-skill {
  background-color: #c0e07d;
}

.prog-skill {
  background-color: var(--green);
}

.unkwn-skill {
  background-color: #7d89e0;
}

.personal-img  {
  width: 300px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547; 
    --dark-red: rgb(88, 47, 77);
    --light-orange: rgb(247, 211, 162);
    --light-pink: rgb(241, 159, 167);
    --green: rgb(125, 224, 174);
    --dot-bg: #fff7ed;
    --dot-color: rgb(0, 0, 0);
    --dot-size: 1px;
    --dot-space: 22px;
    background-color: rgb(102, 102, 130);
  }

  .greeting-text {
    color: var(--dark-red);
  }

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}